# Ignore credentials and secrets
config/credentials.json
config/client_secrets.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Data and recordings
data_buffer/
*.wav
*.mp3

# Ignore Jupyter notebooks if any
.ipynb_checkpoints/
